* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: red;
}

li {
    text-decoration: none;
    list-style: none;
    
}

h1 {
    margin-top: 70px;
    text-align: center;
}

p{
    color: black;
}

img.log{
    width: 100px;
    margin-left: 10px;
    position: relative;
    right: 300px;
    
}

#indexVh1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

.aninew {
    margin-top: 15px;
}

.logo {
    background: #000;
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: center;
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: yellow;
}

nav {
    margin: auto;
    height: 100px;
    background: black;
    padding-left: 26.3%;
}

.ulnav {
    display: flex;
    position: fixed; 
    font-size: 25px;
    margin-top: 30px;
    margin-left: 450px;
    justify-content: center;
    padding: 10px 10px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.062);

}

.ulnav a {
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
}

ul.ulnav{
    top: 10px;
    left: 100px;
}

.ulnav a:hover {
    color: black;
    background-color: cyan;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .indexpage {
    text-align: center;
}

.billboard {
    width: 100%;
    margin-bottom: 25px;
    outline: 5px solid rgb(0, 0, 0);
}

section {
    margin-bottom: 30px;
}

section p {
    padding-left: 100px;
    padding-right: 100px;
}

.newsimg {
    width: 780px;
    height: auto;
    outline: 5px solid black;
    margin-top: 50px;
    margin-left: 405px;
}

footer {
    background: url(../img/carbon.jpg);
    text-align: center;
    padding: 0 0 25px 0;
    color: #fff;
}

.top1 {
    margin-top: 550px;
}

.top1 h1 {
    text-align: justify;
    padding-left: 50px;
}

.about_right {
    margin-left: 150px;
}

.about_right h1 {
    display: inline-block;
    border-bottom: 3px solid;
    padding-bottom: 20px;
}

.about_right p {
    margin: 30px 0 50px 0;
}

main .main_about {
    display: flex;
    padding: 100px 0 100px 0;
}

section h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    text-align: center;
}

iframe {
    border: 3px solid black;
}

.flogo {
    height: 50px;
    width: auto;
    outline: none;
}

.galeryimg {
    width: 720px;
    height: auto;
    outline: 5px solid black;
}

.galeryimg1 {
    width: 720px;
    height: auto;
    outline: 5px solid black;
    margin-bottom: 45px;
}

.foto-anime {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 40px; 
}

.tabel-foto-anime {
    width: 750px;
    height: auto;
}

.video-anime {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 5px;
}

.video {
    margin-bottom: 45px;
}

.top-anime {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 55px;
}

.manga {
    margin-bottom: 50px;
    width: 550px;
    height: auto;
}

.top-img {
    width: 550px;
    height: auto;
    outline: 5px solid black;
}

.cont {
    color: chocolate;
}

@media screen and (max-width: 1500px) {
    
    .logo1 {
        display: none;
    }

    .logo {
        margin-left: 50px;
    }

    .topnav {

        background-color: #000;

    }
}

